{
  "backetSpacing": true,
  "endOfline": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
